**/out/*

# VS code configuration
**/.vscode/*

# visual studio configuration
.vs/*

# CMake configuration
CMakePresets.json

# Linux nonsense
Makefile

# javascript, ew
**/node_modules/*
**/package-lock.json